@{
    ViewBag.Title = "Tarjetas Credito";

}

@model List<InterfazGrafica.Models.Usuarios>

<main>
    @using (Html.BeginForm("Exportar", "Home", FormMethod.Post, new { id = "exportarForm" }))
     {
        <button type="submit" class="btn btn-success">Descargar compras</button>
     }

    <table class="table">
        <thead class="text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">N° Tarjeta</th>
                <th scope="col">Nombre Titular</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td scope="row">@obj.Id</td>
                    <td>@obj.NumeroTarjeta</td>
                    <td>@obj.NombreTitular</td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("EstadoCuenta", new { id = obj.Id })"> Estado cuenta</a>
                        <a class="btn btn-success" href="@Url.Action("RegistrarCompra", new { id = obj.Id })">Registrar compra</a>
                        <a class="btn btn-warning" href="@Url.Action("RegistroPago", new { id = obj.Id })">Realizar pago</a>
                        <a class="btn btn-secondary" href="@Url.Action("Transacciones", new { id = obj.Id })">Transacciones</a>
                    </td>
                </tr>
                }
            
        </tbody>
    </table>

    <script>
        fetch("https://localhost:44320/api/Tarjeta")
            .then(res => res.json())
            .then(data => console.log(data))
    </script>
</main>